.button-component {
    background-color: #5cc6ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    max-height: fit-content;
    width: 40%;
}

button:hover {
    background-color: #4EAB9D;
    border-color: #fff;
    color: #fff;
    transition: all 0.5s ease-in-out;
}