.container-cadastro {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.cadastro {
    width: 40%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 20px;
}

.cadastro h1 {
    color: #000;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 40px 0;
    height: 5%;
}

.cadastro form {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}

.cadastro p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
}




.container-cadastro .img-cadastro {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cadastro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cadastro .linkk {
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 500;
}

.cadastro .linkk::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .4s;
}

.cadastro .linkk:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .container-cadastro {
        flex-direction: column;
        height: 100%;
    }

    .cadastro {
        width: 80%;
        height: 80%;
        margin: 20px 0;
    }

    .cadastro h1 {
        font-size: 2.5rem;
    }

    .container-cadastro .img-cadastro {
        width: 100%;
        height: 50%;
    }

    .img-cadastro img {
        display: none;
    }
}


