.container-cadastroEmpresa {
    width: 100%;
    height: 89.2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.cadastroEmpresa {
    width: 40%;
    height: 60%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 20px;
}

.cadastroEmpresa h1 {
    color: #000;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 40px 0;
    height: 5%;
}

.cadastroEmpresa form {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}


.cadastroEmpresa form link {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-self: flex-start;
}

.cadastroEmpresa form link a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
    text-decoration: none;
}

.cadastroEmpresa form link a:hover {
    color: #909CFF;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}


.container-cadastroEmpresa .img-cadastroEmpresa {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cadastroEmpresa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container-cadastroEmpresa {
        flex-direction: column;
        height: 100%;
    }

    .cadastroEmpresa {
        width: 80%;
        height: 80%;
        margin: 20px 0;
    }

    .cadastroEmpresa h1 {
        font-size: 2.5rem;
    }

    .container-cadastroEmpresa .img-cadastroEmpresa {
        width: 100%;
        height: 50%;
    }

    .img-cadastroEmpresa img {
        display: none;
    }
}


