* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-empresa {
    width: 100%;
    max-width: 95%;
    height: 88vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: black;
}

.container-empresa .card-infos-update {
    border: 1px solid black;
    border-radius: 15px;
    height: 40%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.card-infos-update .card-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.card-infos h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.3px;
}

.card-infos p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-align: justify;
}

.card-infos a {
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    width: 60%;
    text-align: center;
    cursor: pointer;
}

.card-infos a:hover {
    background-color: #909CFF;
    color: #fff;
    border: 2px solid #fff;
}

.container-empresa .card-infos-funcionarios {
    border: 1px solid black;
    border-radius: 15px;
    height: 40%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.card-infos-funcionarios .card-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.container-empresa .card-read-funcionarios {
    border: 1px solid black;
    border-radius: 5px;
    height: fit-content;
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}






