* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-empresa {
    width: 100%;
    max-width: 95%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 40px;
}

.container-empresa .card-infos-update,
.container-empresa .card-infos-funcionarios {
    border-radius: 15px;
    height: 30%;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
}

.card-infos-update .card-infos,
.card-infos-funcionarios .card-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    width: 100%;
}

.card-infos h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}

.card-infos p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
    text-align: justify;
}

.card-infos a {
    padding: 15px;
    background-color: #5cc6ba;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 60%;
    text-align: center;
    cursor: pointer;
}

.card-infos .btn {
    width: 40%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #5cc6ba;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    

}

.card-infos .btn:hover {
    background-color: #4EAB9D;
    transition: all 0.5s ease-in-out;
}


.container-empresa .card-read-funcionarios {
    border-radius: 5px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.card-read-funcionarios table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin-top: 20px;
}

.card-read-funcionarios table thead tr th {
    background-color: #5cc6ba;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px;
}

.card-read-funcionarios table tbody tr td {
    padding: 12px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    text-align: center;
}



.btn-update,
.btn-delete {
    border: 2px solid #5cc6ba;
    color: #5cc6ba;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: auto;
}

.btn-delete {
    border-color: #e74c3c;
    color: #e74c3c;
}

.btn-delete svg, .btn-update svg {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    margin: 0;
}

.btn-update:hover {
    background-color: #5cc6ba;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.btn-delete:hover {
    background-color: #e74c3c;
    color: #fff;
    transition: all 0.5s ease-in-out;
}





.swal2-input {
    height: 48px !important;
}

.select-competencia {
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    border: 1px solid #5cc6ba;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 1rem;
    margin: 1em 0;
}

.select-competencia option {
    font-size: 1rem;
}
