/* Estilos para a página RedefinirSenha */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container-redefinir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
}

.redefinir,
.confirmacao {
    width: 800px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.confirmacao {
    display: none;
}

.confirmacao h1 {
    color: #3498db;
    font-weight: 500;
}

.redefinir p {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.redefinir input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #217dbb;
}
